<?xml version="1.0" encoding="utf-8" ?>
<config>
  <listen id="[gateway_server_id]" ip="0.0.0.0" port="[gateway_server_port]"/>
  <combat_servers>
    <value id="1" ip="0.0.0.0" port="11000"/>
  </combat_servers>
  <configs>
    <value file="/home/hantao/code/personal/mysya-server/etc/tutorial/orcas/gateway/server/confs/map_build.xml"/>
    <value file="/home/hantao/code/personal/mysya-server/etc/tutorial/orcas/gateway/server/confs/map.xml"/>
    <value file="/home/hantao/code/personal/mysya-server/etc/tutorial/orcas/gateway/server/confs/soldier.xml"/>
  </configs>
</config>
